.button {
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  line-height: 28px;
  padding: 8px 28px;

  &:disabled {
    cursor: not-allowed;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      pointer-events: none;
    }
  }

  &.primary {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    &:hover {
      background-color: var(--secondary-background-color-hover);
    }
  }

  &.white {
    color: var(--whiteblock-text-color);
    background-color: var(--whiteblock-background);
    box-shadow: 0px 0px 3px rgba(#000000, 0.3);
    &:hover {
      background-color: rgba(#d3cfcf, 0.9);
    }
  }

  &.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-background-color);
    background-color: transparent;
    color: var(--secondary-background-color);
    padding: 0;
    width: 36px;
    height: 36px;
    .menuIcon {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
    }
  }
}
