:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #6b7280;
  --gray-light-color: #8d96a8;
  --secondary-text-color: #ffedd5;
  --secondary-background-color: #f97316;
  --secondary-background-color-hover: #c2410c;

  --whiteblock-background: var(--white-color);
  --whiteblock-text-color: var(--black-color);

  --darkblock-background: var(--black-color);
  --darkblock-text-color: var(--white-color);

  --poster-background: var(--black-color);
  --poster-text-color: var(--secondary-text-color);
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background-color: var(--darkblock-background);
  color: var(--darkblock-text-color);
}

a {
  text-decoration: none;
  color: var(--darkblock-text-color);
}

.content-container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#__next [class*='social']:has(.utl-mobile) {
  width: 0;
  height: 0;
  font-size: 1px;
  padding: 0;
  margin: 0;
  position: absolute;
  color: transparent;
}
