.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--whiteblock-background);
  color: var(--whiteblock-text-color);
  height: 100%;
  h1 {
    margin-bottom: 1rem;
  }
  .registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .errorMessage {
    color: red;
  }
  .successMessage {
    color: green;
  }
}
