.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

.modalContent {
  background-color: white;
  color: var(--whiteblock-text-color);
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  position: relative;
  max-height: 100%;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.errorInput {
  border-color: red;
}

.errorMessage {
  color: red;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cancelButton,
.saveButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.cancelButton {
  background-color: #ccc;
}

.saveButton {
  background-color: #4caf50;
  color: white;
}

.saveButton:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}
