.breadcrumbs {
  padding: 1rem;
  border-radius: 12px;
  font-weight: 500;
  ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    align-items: center;
  }

  li {
    &:after {
      content: '>';
      margin: 0 0.5rem;
    }

    &:last-child:after {
      content: '';
    }
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  span {
    color: var(--gray-color);
  }
  @media screen and (max-width: 400px) {
    ul {
      flex-direction: column;
    }
  }
}
